body {
    margin: 0px;
    width: 100%;
}

@media (min-width: 0px) {
    #btns { display: block; }
}
  
@media (min-width: 992px) {
    #btns { display: none; }

    canvas {
        margin-top: 10vw;
        margin-left: auto;
        margin-right: auto;
    }
}

#btns {
    width: 100%;
    position: relative;
}

canvas {
    display: block;
}

#content {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


#btnLeft {
    width: 33.33%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
}

  #btnRight {
    width: 33.33%;
    height:100%;
    top:0;
    right:0;
    position: absolute;
}

#btnUp {
    width: 33.33%;
    height:50%;
    top:0;
    left:33.33%;
    position: absolute;
}

#btnDown {
    width: 33.33%;
    height:50%;
    top:50%;
    left:33.33%;
    position: absolute;
}
