#canvas{

}

body {
    margin: 0px;
    width: 100%;
}

@media (min-width: 0px) {
    #btns { display: block; }
}
  
@media (min-width: 992px) {
    #btns { display: none; }
}

#btns {
    width:100%;
    height: 15vw;
    position:relative
}


#btnLeft {
    width: 33.33%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
}

  #btnRight {
    width: 33.33%;
    height:100%;
    top:0;
    right:0;
    position: absolute;
}

#btnUp {
    width: 33.33%;
    height:50%;
    top:0;
    left:33.33%;
    position: absolute;
}

#btnDown {
    width: 33.33%;
    height:50%;
    top:50%;
    left:33.33%;
    position: absolute;
}
